$submit-hover: #65cd81;
$submit: #3cb95d;
$submit-active: #329a4e;
$submit-shadow: #236c36;
$clear-hover: #f2cb92;
$clear: #eaae52;
$clear-active: #e59824;
$clear-shadow: #c98218;
$outline: #114f69;
$translator-body: #ca4833;
$translator-body-shadow: #a33929;
$screen: #f2f8f6;
$shadow: #b3a8af;
