* {
  font-family: "Cutive Mono", monospace;
}

body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5vh;
  border: 1px solid red;
}

.welcome-note {
  border: 1px solid black;
  width: 40vh;
  margin: 0vh;
  padding: 2vh;
}

.translator {
  border: 1px solid black;
  margin-right: 2vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  height: 60vh;
  width: 75vh;
}
.translator__header {
  border: 1px solid blue;
  display: flex;
}
.translator__header .title {
  margin: 3vh auto 2vh 18vh;
}
.translator__header .switch {
  border: 1px solid red;
  align-self: flex-end;
  padding: 0vh 2vh 0vh 0vh;
}
.translator__screen {
  border: 1px solid red;
  height: 25vh;
  margin: 2vh;
}
.translator__screen p {
  padding: 1vh;
}
.translator__bottom-half {
  border: 1px solid green;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 71vh;
}
.translator__bottom-half button {
  height: 9vh;
  width: 9vh;
  border-radius: 50%;
  align-self: center;
}
.translator__bottom-half--textarea {
  border: 1px solid black;
  border-radius: 1vh;
  padding: 1vh;
  height: 12vh;
  width: 47vh;
  resize: none;
}
